#footer {
    background-color: rgb(10, 4, 22);
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 8px ;

    .copywright {
        text-align: center;
    }
  
    .body {
        text-align: center;
    }
  
    h3 {
        font-size: 1em;
        color: white;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .icons {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0;
    }
    
    .blockquote-footer {
        color: #a588c0;
    }
}